.background-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 0;
}

.image-left {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-right {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-middle-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  top: 200px;
  margin: auto;
  transition: opacity 1s;
}

.page-middle-logo-container {
  display: flex;
  flex: 1;
  background-color: red;
}

.page-middle-name-container {
  flex: 1;
  background-color: blue;
  color: rgb(80, 45, 8);
  font-size: 40px;
  text-align: center;
  font-family: Pacifico;      
}

.logo-middle {
  height: 200px;
  margin: auto;
  border-radius: 100px;
}

@media (min-width: 920px) {
  .page-middle-container {
    opacity: 0;
  }
}