.background-container {
  background-color: rgb(20, 13, 7);
  margin-top: -100px;
}


.image-left {
  width: 100%;
  object-fit: cover;
}

.apartmanok {
  position: relative;
  font-size: 20px;
  background-color: rgb(20, 13, 7);
  color: white;
  height: 350px;
}

.apartmanok-text-container {
  position: absolute;
  top: 15px;
  left: 20px;
  height: 25px;
}

.apartmanok-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  background-color: white;
  top: 55px;
  bottom: 30px;
  right: 20px;
  left: 20px;
}

.bajdazo {
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.szenpatak {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.text-container {
  background-color: lightblue;
}

.picture-container {
  background-color: lightpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bajdazo-image {
  height: 200px;
}