.header {
  display: flex;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: rgba(256, 256, 256, 0.65);
  height: 60px;
  z-index: 5;
  align-items: center;
  transition: top 0.5s;
}

.header-section1 {
  height: 100%;
  width: 300px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: rgb(80, 45, 8);
}



.name-container {
  display: flex;
  height: 100%;
  font-size: 25px;
  margin-left: 10px;
  font-family: Pacifico;
  align-items: center;
}



.logo-container {
  display: flex;
  width: 40px;
  height: 100%;
  align-items: center;
}

.logo {
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}



.header-section2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-button-container {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
}

.header-button {
  z-index: 100; 
  color: rgb(80, 45, 8);
  background-color: transparent;
  font-size: 16px;
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.header-button:hover {
  background-color: rgb(80, 45, 8);
  color: white;
}

.social-media-button-container {
  display: flex;
  width: 100px;
  background-color: rgb(80, 45, 8);
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.header-icon-fb {
  width: 35px;
  object-fit: cover;
}

.header-icon-ig {
  width: 35px;
  object-fit: cover;
}

.menu-button-container {
  position: fixed;
  display: flex;
  z-index: 5;
  height: 30px;
  width: 100px;
  top: -30px;
  right: 0px;
  background-color: rgba(256, 256, 256, 0.65);
  transition: top 0.5s, right 0.5s;
}

.sidebar-active-menu-button {
  right: -100px;
}

.menu-button {
  color: rgb(80, 45, 8);
  font-size: 16px;
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.5s, color 0.5s;
}

.menu-button:hover {
  background-color: rgb(80, 45, 8);
  color: white;
}

@media (max-width: 920px) {
  .header-section1 {
    width: 0;
    margin-left: 0;
  }

  .name-container {
    font-size: 0px;
  }

  .logo-container {
    width: 60px;
    height: 100%;
  }

  .logo {
    border-radius: 30px;
  }
}

@media (max-width: 620px) {
  .header {
    top: -100px;
  }
  .menu-button-container {
    top: 10px;
  }
}